body{
  text-align: center;
  background-color: rgba(0, 255, 255, 0.349);
}

.container-fluid{
  margin: 4% auto;
  padding: 2% ;
  max-width: 500px;
  background-color: rgba(29, 209, 209, 0.116);
}

h1{
  margin-bottom: 1.5rem;
}

ul{
  margin-block-start: 0;
  padding-inline-start: 0;
}

/* add form */

.add-box{
  margin-bottom: 5%;
}


.add-button{
  margin-left: 7%;
}

.btn-primary{
  background-color: rgba(12, 107, 107, 0.774);
  border:none
}

.btn-primary:hover{
  background-color: rgba(12, 107, 107, 0.856);
}

/* todo item */

.item-box{
  border: 1px solid black;
  padding: 2% 0;
  margin-bottom: 2%;
  background-color: rgba(29, 209, 209, 0.459);
  list-style: none;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}


.item-box p{
  margin: 0;
  text-align: left;
  padding-left: 12px;
}
.item-box  i{
  position: absolute;
  right: 12px;
  top: 12px;
}



.filled {
  background-color: #cdff80;
}



